name: Deploy to GitHub Pages
on:
  push:
    branches:
      - master
jobs:
  gh-pages-deploy:
    name: Deploying to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - name: nodenv/setup-nodenv
        # You may pin to the exact commit or the version.
        # uses: nodenv/actions-setup-nodenv@6faff6196d33cbbcd308c6b4af7cda5f4fd834f5
        uses: nodenv/actions-setup-nodenv@v2.0.4
      - name: Checkout branch
        uses: actions/checkout@v2
      - name: Clean install dependencies
        run: npm ci
      - name: Run deployment script
        run: |
          git config user.name "Andrew Horn" && git config user.email "andyjhorn@gmail.com"
          npm run gh-deploy
